@font-face {
	font-family: HelveticaNeueLTStd;
	src: url(../fonts/HelveticaNeueLTStd/HelveticaNeueLTStd-Blk.otf);
	font-weight: 900;
}
@font-face {
	font-family: HelveticaNeueLTStd;
	src: url(../fonts/HelveticaNeueLTStd/HelveticaNeueLTStd-Bd.otf);
	font-weight: 700;
}
@font-face {
	font-family: HelveticaNeueLTStd;
	src: url(../fonts/HelveticaNeueLTStd/HelveticaNeueLTStd-Md.otf);
	font-weight: 500;
}
@font-face {
	font-family: HelveticaNeueLTStd;
	src: url(../fonts/HelveticaNeueLTStd/HelveticaNeueLTStd-Lt.otf);
	font-weight: 300;
}
@font-face {
	font-family: HelveticaNeueLTStd;
	src: url(../fonts/HelveticaNeueLTStd/HelveticaNeueLTStd-UltLt.otf);
	font-weight: 200;
}
@font-face {
	font-family: HelveticaNeueLTStd;
	src: url(../fonts/HelveticaNeueLTStd/HelveticaNeueLTStd-Th.otf);
	font-weight: 100;
}
@font-face {
	font-family: HelveticaNeueLTStd-Cn;
	src: url(../fonts/HelveticaNeueLTStd-Cn/HelveticaNeueLTStd-BlkCn.otf);
	font-weight: 900;
}
@font-face {
	font-family: HelveticaNeueLTStd-Cn;
	src: url(../fonts/HelveticaNeueLTStd-Cn/HelveticaNeueLTStd-BdCn.otf);
	font-weight: 700;
}
@font-face {
	font-family: HelveticaNeueLTStd-Cn;
	src: url(../fonts/HelveticaNeueLTStd-Cn/HelveticaNeueLTStd-Cn.otf);
	font-weight: 400;
}
@font-face {
	font-family: HelveticaNeueLTStd-Cn;
	src: url(../fonts/HelveticaNeueLTStd-Cn/HelveticaNeueLTStd-LtCn.otf);
	font-weight: 300;
}
@font-face {
	font-family: HelveticaNeueLTStd-Cn;
	src: url(../fonts/HelveticaNeueLTStd-Cn/HelveticaNeueLTStd-UltLtCn.otf);
	font-weight: 200;
}
@font-face {
	font-family: HelveticaNeueLTStd-Cn;
	src: url(../fonts/HelveticaNeueLTStd-Cn/HelveticaNeueLTStd-ThCn.otf);
	font-weight: 100;
}

* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.wrapper {
	width: 970px;
	margin: 0 auto;
	position: relative;
}
.app {
	font-family: Arial, sans-serif;
	padding: 0;
	margin: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	height: 100%;
	min-height: 100%;
	width: 100%;
	max-width: 1920px;
	min-width: 320px;
	
}
img {
	max-width: 100%;
}
a {
	text-decoration: none;
	cursor: pointer;
}
ul {
	list-style: none;
}
select {
	border: none;
	outline: none;
	background: rgba(0, 0, 0, 0);
}
/*///*/
header {
	width: 100%;
	height: 30px;
	background: #000;
}
.custom_care {
	display: none;
	width: 100%;
	height: 49px;
	background: #fafafa;
}
.custom_care span {
	font-size: 15px;
	font-weight: 400;
	color: #838383;
	text-transform: uppercase;
}
.details {
	width: 100%;
	height: 30px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.details .custom {
	width: auto;
	height: 22px;
}
.details .custom span {
	font-size: 11px;
	font-weight: 400;
	color: #fff;
	text-transform: uppercase;
}
.details .custom .number {
	font-size: 12px;
}
.right {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-left: auto;
	height: inherit;
	width: auto;
}
.right .select_box {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 73px;
	border-left: 1px solid #444444;
	border-right: 1px solid #444444;
}
.right .select_box .first_select {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	color: #fff;
	background: #000;
	border: none;
	font-size: 11px;
	font-weight: 400;
	cursor: pointer;
	width: 70px;
	height: inherit;
	border-radius: 0;
	-webkit-transition: all, 0.3s;
	transition: all, 0.3s;
}
.right .select_box .first_select .option {
	color: #000;
	-webkit-transition: all, 0.3s;
	transition: all, 0.3s;
}
.right .select_box .first_select .option:hover {
	color: #fff;
	background-color: #000;
}
.right .select_box .first_select:after {
	border-bottom: 2px solid #fff;
	border-right: 2px solid #fff;
}
.right .account {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 126px;
	border-right: 1px solid #444444;
}
.right .account img {
	width: 14px;
	height: 13px;
	margin-right: 10px;
	margin-bottom: 3px;
}
.right .account a {
	text-decoration: none;
	text-transform: uppercase;
	font-size: 11px;
	font-weight: 400;
	color: #fff;
	cursor: pointer;
	-webkit-transition: all, 0.3s;
	transition: all, 0.3s;
}
.right .account a:hover {
	color: red;
}
.right .search {
	width: 34px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	border-right: 1px solid #444444;
}
.right .search img {
	margin-top: 3px;
}
@media screen and (max-width: 991px) {
	.wrapper {
		width: 720px;
	}
}
@media screen and (max-width: 767px) {
	.wrapper {
		width: 530px;
	}
}
@media screen and (max-width: 567px) {
	.wrapper {
		width: 290px;
	}
	header {
		width: 100%;
		height: 96px;
		background: #000;
	}
	.custom_care {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		width: 100%;
	}
	.details {
		width: 100%;
		height: auto;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}
	.details .custom {
		display: none;
	}
	.details .custom .number {
		font-size: 15px;
		margin-left: 5px;
	}
	.right {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		height: 47px;
		width: 100%;
	}
	.right .select_box .first_select {
		font-size: 15px;
	}
	.right .account {
		width: 192px;
		height: inherit;
		border-right: 1px solid #444444;
	}
	.right .account img {
		width: 19.5px;
		height: 19px;
		margin-right: 7.5px;
		margin-bottom: 1.5px;
	}
	.right .account a {
		font-size: 15px;
	}
	.right .search {
		width: 42px;
		border-right: none;
	}
	.right .search img {
		height: 20.5px;
		width: auto;
		margin-top: 2.5px;
		margin-left: 5px;
	}
}
/*   //////////     */
.logo_menu {
	width: 100%;
	height: 106px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.logo {
	margin-top: 10px;
}
.logo img {
	width: 120px;
	height: 28px;
}

.menu_cart {
	margin-left: auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.menu {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	width: 440px;
	height: auto;
}

.menu a {
	font-family: Arial;
	font-size: 16px;
	font-weight: 400;
	color: #000;
	text-transform: lowercase;
	text-decoration: none;
	-webkit-transition: all, 0.3s;
	transition: all, 0.3s;
}

.menu a:hover {
	color: red;
}

.cart {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	margin-left: 20px;
}

.cart .cart_one {
	width: 213px;
	height: 32px;
	border: 1px solid #d6d6d6;
	border-bottom: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.cart .cart_one .select_carts {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 100%;
	height: 30px;
	font-size: 12px;
	font-weight: 400;
	color: #949393;
	border: none;
	cursor: pointer;
	outline: none;
	padding-left: 12px;
}

.cart .cart_one .select_carts .option {
	width: 210px;
	padding-left: 12px;
}

.cart .cart_one .select_carts:after {
	border-bottom: 2px solid #949393;
	border-right: 2px solid #949393;
}

.cart .cart_two {
	width: 213px;
	height: 32px;
	background: #fafafa;
	border: 1px solid #d6d6d6;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.cart .cart_two img {
	width: 20px;
	height: 19px;
	margin-right: auto;
	margin-left: 12px;
}

.cart .cart_two .item {
	margin-left: auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: auto;
	margin-right: 4px;
}

.cart .cart_two .item span {
	font-size: 11px;
	font-weight: 400;
	color: #949393;
	text-transform: uppercase;
	margin-right: 7px;
}

.navbar {
	display: none;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 100%;
	height: 48px;
	background: #fd926d;
}

.navbar .sr-only {
	font-size: 18px;
	font-weight: 500;
	color: #fff;
	text-transform: uppercase;
	margin-left: 15px;
}

.navbar .navbar_button {
	background: #fd926d;
	color: #fff;
	font-size: 35px;
	border: none;
	cursor: pointer;
	outline: none;
}

.navbar .navbar_button:hover {
	color: #000;
}

.navbar .nav_link {
	text-decoration: none;
	font-size: 20px;
	border-bottom: solid 1px #aaa;
	color: #fff;
	display: block;
	min-width: 100px;
	padding: 10px;
}

.navbar .nav_link:hover {
	color: red;
}

.navbar .nav-item {
	list-style: none;
	background: #fd926d;
	-webkit-transition: all, 0.3s;
	transition: all, 0.3s;
}

.navbar .nav-item:hover {
	background: #fd7f54;
}

.navbar .navbar_inner {
	display: none;
	background: #fd926d;
	position: absolute;
	right: 0;
	top: 100%;
	text-align: center;
	z-index: 10;
	width: 100%;
}

.navbar .nav {
	margin: 0;
	padding: 0;
}

@media screen and (max-width: 991px) {
	.menu {
		display: none;
	}
	.navbar {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}
}

@media screen and (max-width: 567px) {
	.logo_menu {
		height: 148px;
	}
	.logo {
		width: 100%;
		height: 100px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}
	.logo img {
		width: 181px;
		height: 44px;
	}
	.menu_cart {
		width: 100%;
		height: auto;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}
	.menu_cart .menu {
		display: none;
	}
	.menu_cart .cart {
		width: inherit;
		margin-left: 0;
	}
	.menu_cart .cart .cart_one {
		display: none;
	}
	.menu_cart .cart .cart_two {
		width: inherit;
		height: 48px;
	}
	.menu_cart .cart .cart_two img {
		width: 25.5px;
		height: 24.5px;
		margin-right: auto;
		margin-left: 15px;
	}
	.menu_cart .cart .cart_two .item span {
		font-size: 15px;
		font-weight: 500;
		text-transform: uppercase;
		margin-right: 13px;
	}
	.navbar {
		margin-top: 12px;
	}
	.navbar .sr-only {
		font-size: 15px;
	}
	.navbar .navbar_button {
		font-size: 25px;
	}
	.navbar .nav_link {
		font-size: 15px;
		min-width: 70px;
		padding: 5px;
	}
}
/* ///////////////////*/
.slider {
	width: 100%;
	height: auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	position: relative;
}

.slider .left_nav_1 {
	cursor: pointer;
	position: absolute;
	left: 0;
	top: 42%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	z-index: 1;
}

.slider .left_nav_1:hover {
	opacity: 0.7;
}

.slider .right_nav_1 {
	cursor: pointer;
	position: absolute;
	right: 0;
	top: 42%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	z-index: 1;
}

.slider .right_nav_1:hover {
	opacity: 0.7;
}

.slick-dots_my {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin-top: 20px;
	margin-bottom: -10px;
}

.slick-dots_my li {
	list-style: none;
}

.slick-dots_my li button {
	font-size: 0;
	width: 10px;
	height: 12px;
	border: none;
	background: #867a76;
	border-radius: 7px;
	margin: 10px;
	outline: none;
}

.slick-dots_my li button:focus {
	background: #fd926d;
}

.slick-dots_my li.slick-active button {
	background: #fd926d;
}

.slider_banner {
	width: 100%;
	height: 440px;
	background: url(../img/banner.jpg) no-repeat center/cover;
}

.banner {
	position: relative;
}

.banner .crazy_summer {
	height: 320px;
	position: absolute;
	top: 9.5%;
	left: 15%;
	margin-top: 43px;
}

.banner .shop_now {
	width: 156px;
	height: 57px;
	background: #fd926d;
	border-bottom: 3px solid #dd6b44;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	cursor: pointer;
	position: absolute;
	bottom: 4px;
	left: 27.7%;
	-webkit-transition: all, 0.3s;
	transition: all, 0.3s;
}

.banner .shop_now h1 {
	font-size: 16px;
	font-weight: 200;
	color: #fff;
	text-transform: uppercase;
	margin-right: 17px;
}

.banner .shop_now:hover {
	opacity: 0.9;
}

@media screen and (max-width: 991px) {
	.slider {
		margin-top: 17px;
	}
	.slider .banner .crazy_summer {
		height: 240px;
		position: absolute;
		top: 17%;
		left: 10%;
	}
	.slider .banner .crazy_summer .crazy {
		width: 253px;
		height: 182px;
	}
	.slider .banner .shop_now {
		width: 115px;
		height: 40px;
		bottom: 0;
		left: 27%;
	}
	.slider .banner .shop_now h1 {
		font-size: 12px;
		margin-right: 12px;
	}
	.slider_banner {
		height: 350px;
	}
}

@media screen and (max-width: 767px) {
	.slider_banner {
		height: 260px;
	}
}

@media screen and (max-width: 567px) {
	.slider {
		display: none;
	}
	.slider_nav {
		display: none;
	}
}
.slider_nav {
	height: 75px;
}
.slider_nav ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin-top: 33px;
}
.slider_nav_item {
	margin-left: 20px;
	height: 10px;
	width: 10px;
	border-radius: 50%;
	background: #867a76;
}
.slider_nav_item:first-child {
	margin-left: 0px;
}
.slider_nav_item:hover {
	cursor: pointer;
}
.slider_nav_item + .active {
	background: #fd926d;
}

.subscription {
	width: 100%;
	height: 55px;
	background: #ededed;
}

.subscription_us {
	width: 100%;
	height: 55px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.subscription_us .email {
	width: 250px;
	height: 28px;
	position: relative;
}

.subscription_us .email form span {
	font-size: 12px;
	font-weight: 400;
	color: #6b6b6b;
	margin: 0;
}

.subscription_us .email form input {
	font-size: 12px;
	font-weight: 400;
	color: #9f9f9f;
	font-style: italic;
	width: 156px;
	height: 28px;
	margin-left: 5px;
	outline-color: #343333;
	padding-left: 7px;
}

.subscription_us .email form input::-webkit-input-placeholder {
	font-size: 12px;
	font-weight: 400;
	color: #9f9f9f;
	font-style: italic;
}

.subscription_us .email form input:-ms-input-placeholder {
	font-size: 12px;
	font-weight: 400;
	color: #9f9f9f;
	font-style: italic;
}

.subscription_us .email form input::-ms-input-placeholder {
	font-size: 12px;
	font-weight: 400;
	color: #9f9f9f;
	font-style: italic;
}

.subscription_us .email form input::placeholder {
	font-size: 12px;
	font-weight: 400;
	color: #9f9f9f;
	font-style: italic;
}

.subscription_us .email .plus {
	width: 28px;
	height: 28px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	background: #fd926d;
	border-bottom: 3px solid #dd6b44;
	position: absolute;
	top: 0;
	left: 209px;
	cursor: pointer;
	-webkit-transition: all, 0.3s;
	transition: all, 0.3s;
}

.subscription_us .email .plus img {
	width: 11px;
	height: auto;
}

.subscription_us .email .plus:hover {
	opacity: 0.9;
}

.subscription_us .subscription_us_here {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: auto;
	height: inherit;
	margin-left: auto;
}

.subscription_us .subscription_us_here span {
	font-size: 12px;
	font-weight: 400;
	color: #6c6c6c;
	margin-right: 15px;
}

.subscription_us .subscription_us_here .subscription_icon {
	width: 55px;
	height: 55px;
	background: #f7f7f7;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.subscription_us .subscription_us_here .subscription_icon img {
	width: auto;
	height: 18px;
}

.subscription_us .subscription_us_here .subscription_icon:nth-child(3) {
	background: #ededed;
}

.subscription_us .subscription_us_here .subscription_icon:hover {
	background: #fd926d;
	opacity: 0.9;
}

@media screen and (max-width: 567px) {
	.subscription {
		height: auto;
		background: none;
	}
	.subscription_us {
		width: 100%;
		height: auto;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		margin: 0;
	}
	.subscription_us .email {
		width: 100%;
		height: 48px;
		margin-top: 13px;
	}
	.subscription_us .email form span {
		display: none;
	}
	.subscription_us .email form input {
		font-size: 15px;
		width: 100%;
		height: 48px;
		margin-left: 0;
		background: #ededed;
		border: none;
		padding-left: 15px;
	}
	.subscription_us .email form input::-webkit-input-placeholder {
		font-size: 15px;
	}
	.subscription_us .email form input:-ms-input-placeholder {
		font-size: 15px;
	}
	.subscription_us .email form input::-ms-input-placeholder {
		font-size: 15px;
	}
	.subscription_us .email form input::placeholder {
		font-size: 15px;
	}
	.subscription_us .email .plus {
		width: 48px;
		height: 48px;
	}
	.subscription_us .email .plus img {
		width: 18.5px;
		height: auto;
	}
	.subscription_us .subscription_us_here {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		width: 90%;
		height: 69px;
		margin-left: 0;
	}
	.subscription_us .subscription_us_here span {
		font-size: 13px;
		margin-right: 17.5px;
	}
	.subscription_us .subscription_us_here .subscription_icon {
		width: 44px;
		height: 44px;
	}
	.subscription_us .subscription_us_here .subscription_icon img {
		height: 15px;
	}
}

/*///////////////*/
.best_outfits {
	width: 100%;
	height: auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-top: 40px;
}

.best_outfits .party {
	margin-left: 2px;
}

.best_outfits .party .best_sell_fall {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.best_outfits .party .best_sell_fall .best_sell {
	width: 241px;
	height: 169px;
	background: url(../img/best_sellers.jpg) no-repeat center/cover;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
}

.best_outfits .party .best_sell_fall .best_sell div {
	width: auto;
	height: auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-bottom: 10px;
	cursor: pointer;
}

.best_outfits .party .best_sell_fall .best_sell div a {
	font-family: HelveticaNeueLTStd-Cn;
	font-size: 33px;
	font-weight: 200;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	margin: 0;
	margin-right: 10px;
	-webkit-transition: all, 0.3s;
	transition: all, 0.3s;
}

.best_outfits .party .best_sell_fall .best_sell div a:hover {
	color: red;
}

.best_outfits .party .best_sell_fall .fall_leather {
	width: 241px;
	height: 169px;
	background: url(../img/fall_leather.jpg) no-repeat center/cover;
}

.best_outfits .party .best_sell_fall .fall_leather .fall_leather_shop {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 120px;
	height: auto;
	margin-top: 40px;
	margin-left: 17px;
}

.best_outfits .party .best_sell_fall .fall_leather .fall_leather_shop a {
	text-align: center;
	text-decoration: none;
	font-size: 36px;
	font-family: HelveticaNeueLTStd-Cn;
	font-weight: 400;
	color: #fff;
	text-transform: uppercase;
	line-height: 0.9;
	margin-bottom: 15px;
	-webkit-transition: all, 0.3s;
	transition: all, 0.3s;
}

.best_outfits .party .best_sell_fall .fall_leather .fall_leather_shop a:hover {
	color: red;
}

.best_outfits .party .best_sell_fall .fall_leather .fall_leather_shop .butt_shop {
	width: 98px;
	height: 29px;
	background: #4fafa0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	cursor: pointer;
	-webkit-transition: all, 0.3s;
	transition: all, 0.3s;
}

.best_outfits .party .best_sell_fall .fall_leather .fall_leather_shop .butt_shop span {
	font-size: 12px;
	font-weight: 400;
	color: #fff;
	text-transform: uppercase;
	margin-right: 10px;
}

.best_outfits .party .best_sell_fall .fall_leather .fall_leather_shop .butt_shop:hover {
	opacity: 0.9;
}

.best_outfits .party .best_sell_fall .fall_leather .fall_leather_shop .butt_shop:hover span {
	color: red;
}

@media screen and (max-width: 991px) {
	.best_outfits {
		margin-top: 33px;
	}
	.best_outfits .best img {
		width: 350px;
		height: auto;
	}
	.best_outfits .party {
		margin-left: 10px;
	}
	.best_outfits .party .party_collection {
		width: 355px;
		height: auto;
	}
	.best_outfits .party .best_sell_fall .best_sell {
		width: 175px;
		height: 118px;
	}
	.best_outfits .party .best_sell_fall .best_sell div a {
		font-size: 26px;
		margin-right: 8px;
	}
	.best_outfits .party .best_sell_fall .fall_leather {
		width: 175px;
		height: 118px;
	}
	.best_outfits .party .best_sell_fall .fall_leather .fall_leather_shop {
		width: 92px;
		margin-top: 34px;
		margin-left: 7px;
	}
	.best_outfits .party .best_sell_fall .fall_leather .fall_leather_shop a {
		font-size: 28px;
		margin-bottom: 10px;
	}
	.best_outfits .party .best_sell_fall .fall_leather .fall_leather_shop .butt_shop {
		width: 75px;
		height: 21px;
	}
	.best_outfits .party .best_sell_fall .fall_leather .fall_leather_shop .butt_shop span {
		font-size: 10px;
		margin-right: 7px;
	}
}

@media screen and (max-width: 767px) {
	.best_outfits {
		margin-top: 33px;
	}
	.best_outfits .best img {
		width: 264px;
		height: auto;
	}
	.best_outfits .party {
		margin-left: 5px;
	}
	.best_outfits .party .party_collection {
		width: 260px;
		height: auto;
	}
	.best_outfits .party .best_sell_fall .best_sell {
		width: 125px;
		height: 91px;
	}
	.best_outfits .party .best_sell_fall .best_sell div a {
		font-size: 22px;
		margin-right: 4px;
	}
	.best_outfits .party .best_sell_fall .fall_leather {
		width: 125px;
		height: 91px;
	}
	.best_outfits .party .best_sell_fall .fall_leather .fall_leather_shop {
		width: 92px;
		margin-top: 25px;
		margin-left: -3px;
	}
	.best_outfits .party .best_sell_fall .fall_leather .fall_leather_shop a {
		font-size: 20px;
		margin-bottom: 15px;
	}
	.best_outfits .party .best_sell_fall .fall_leather .fall_leather_shop .butt_shop {
		width: 75px;
		height: 15px;
	}
	.best_outfits .party .best_sell_fall .fall_leather .fall_leather_shop .butt_shop span {
		font-size: 9px;
		margin-right: 5px;
	}
}

@media screen and (max-width: 567px) {
	.best_outfits {
		display: none;
	}
}

.goods_nav {
	width: 100%;
	height: 47px;
	margin-top: 50px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.goods_nav .nav_tabs {
	width: 475px;
	height: inherit;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.active {
	background: #fd926d;
}
.goods_nav .nav_tabs .tab {
	width: 25%;
	height: inherit;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.goods_nav .nav_tabs .tab:hover {
	background: #fd926d;
	cursor: pointer;
}

.goods_nav .nav_tabs .tab span {
	text-decoration: none;
	text-transform: uppercase;
	font-size: 15px;
	font-weight: 400;
	color: #555555;
	cursor: pointer;
}

.goods_nav .nav_arrows {
	width: 94px;
	height: inherit;
	margin-left: auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.goods_nav .nav_arrows .arrow {
	width: 50%;
	height: inherit;
	background: #f2f2f2;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.goods_nav .nav_arrows .arrow:hover {
	cursor: pointer;
	background: #fd926d;
}
.tab_for_iphone {
	display: none;
}

.goods_list {
	width: 100%;
	height: 455px;
	background: #fc916d;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.goods_list .things {
	width: 100%;
	height: auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: relative;
}

.goods_list .things .thing {
	width: 220px !important;
	height: 395px;
	background: #f7f7f7;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	position: relative;
	margin-left: 23.5px;
	-webkit-transition: all, 0.3s;
	transition: all, 0.3s;
}

.goods_list .things .thing .thing_img {
	width: 220px;
	height: 290px;
}

.goods_list .things .thing .thing_title {
	margin-top: 8px;
	font-size: 12px;
	font-weight: 400;
	text-transform: uppercase;
	color: #373737;
}

.goods_list .things .thing .thing_price {
	margin-top: 9px;
	font-size: 22px;
	font-weight: 400;
	color: #373737;
}

.goods_list .things .thing .add_cart {
	width: 120px;
	height: 32px;
	background: #fd926d;
	border-bottom: 3px solid #dd6b44;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	cursor: pointer;
	margin-top: 9px;
	-webkit-transition: all, 0.3s;
	transition: all, 0.3s;
}

.goods_list .things .thing .add_cart span {
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 400;
	color: #fff;
	margin-right: 10px;
}

.goods_list .things .thing .add_cart img {
	width: 11px;
	height: auto;
}

.goods_list .things .thing .add_cart:hover {
	opacity: 0.9;
}

.goods_list .things .thing .shop_label {
	display: none;
}

.goods_list .things .thing .sale {
	position: absolute;
	top: 0;
	left: 0;
}

.goods_list .things .thing:hover {
	-webkit-box-shadow: 5px 5px 40px #333;
	box-shadow: 5px 5px 40px #333;
}

.goods_list .things .thing:hover .shop_label {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 134px;
	height: 134px;
	background: #3d3d3d;
	border-radius: 70px;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	cursor: pointer;
}

.goods_list .things .thing:hover .shop_label span {
	font-size: 12px;
	font-weight: 400;
	color: #fff;
	text-transform: uppercase;
	margin-top: 9px;
}

.show {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.load_more_iphone {
	display: none;
}

@media screen and (max-width: 991px) {
	.goods_list .things .thing {
		margin-left: 28px;
		-webkit-transform: translateX(20px);
		transform: translateX(20px);
	}
	.nones {
		display: none;
	}
}

@media screen and (max-width: 567px) {
	.goods_nav {
		display: none;
	}
	.tab_for_iphone {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		width: 303px;
		height: auto;
		margin: 0 auto;
	}
	.tab_for_iphone form {
		width: 100%;
	}
	.tab_for_iphone form .third_select {
		width: 100%;
		height: 44px;
		outline: none;
		border: none;
		border-radius: 0;
		background: #f4845d;
		color: #fff;
		font-size: 15px;
		font-weight: 400;
		text-transform: uppercase;
	}
	.tab_for_iphone form .third_select .option {
		color: #000;
		width: 303px;
		-webkit-transition: all, 0.3s;
		transition: all, 0.3s;
	}
	.tab_for_iphone form .third_select .option:hover {
		color: #fff;
		background: #f4845d;
	}
	.tab_for_iphone form .third_select:after {
		border-bottom: 2px solid #fff;
		border-right: 2px solid #fff;
	}
	.goods_list {
		height: 305px;
		-webkit-box-align: end;
		-ms-flex-align: end;
		align-items: flex-end;
		overflow-x: hidden;
	}
	.goods_list .things {
		height: auto;
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
	}
	.goods_list .things .thing {
		width: 137px !important;
		height: 262px;
		margin-left: 15.5px;
		-webkit-transform: translateX(7px);
		transform: translateX(7px);
		position: relative;
	}
	.goods_list .things .thing .thing_img {
		width: 137px;
		height: 181px;
	}
	.goods_list .things .thing .thing_title {
		margin-top: 6px;
		font-size: 9px;
	}
	.goods_list .things .thing .thing_price {
		margin-top: 6px;
		font-size: 14px;
	}
	.goods_list .things .thing .add_cart {
		width: 110px;
		height: 32px;
		margin-top: 5.5px;
	}
	.goods_list .things .thing .add_cart span {
		font-size: 10px;
		margin-right: 10px;
	}
	.goods_list .things .thing .add_cart img {
		width: 8.5px;
		height: auto;
	}
	.goods_list .things .thing:hover .shop_label {
		display: none;
	}
	.load_more_iphone {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		width: 303px;
		height: 60px;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		background: #fd926d;
		margin: 0 auto;
	}
	.load_more_iphone .load_more {
		height: 30px;
		width: 110px;
		background: #000;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		cursor: pointer;
	}
	.load_more_iphone .load_more span {
		font-size: 10px;
		font-weight: 400;
		color: #fff;
		text-transform: uppercase;
		-webkit-transition: all, 0.3s;
		transition: all, 0.3s;
	}
	.load_more_iphone .load_more span:hover {
		color: red;
	}
	.load_more_iphone .load_more:hover {
		opacity: 0.9;
	}
}

.clearance {
	width: inherit;
	height: 600px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.clearance .clearance_label {
	width: inherit;
	height: auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin-top: 22px;
}

.clearance .clearance_label hr {
	width: 390px;
	height: 0.5px;
	background: #d8d8d8;
}

.clearance .things_list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	height: auto;
	width: inherit;
}

.thing {
	width: 220px;
	height: 395px;
	background: #f7f7f7;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	position: relative;
}

.thing .thing_img {
	width: 220px;
	height: 290px;
}

.thing .thing_title {
	margin-top: 8px;
	font-size: 12px;
	font-weight: 400;
	text-transform: uppercase;
	color: #373737;
}

.thing .thing_price {
	margin-top: 6px;
	font-size: 22px;
	font-weight: 400;
	color: #373737;
}

.thing .add_cart {
	width: 120px;
	height: 32px;
	background: #fd926d;
	border-bottom: 3px solid #dd6b44;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	cursor: pointer;
	margin-top: 7px;
	-webkit-transition: all, 0.3s;
	transition: all, 0.3s;
}

.thing .add_cart span {
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 400;
	color: #fff;
	margin-right: 10px;
}

.thing .add_cart img {
	width: 11px;
	height: auto;
}

.thing .add_cart:hover {
	opacity: 0.9;
}

.thing .sale {
	position: absolute;
	top: 0;
	left: 0;
}

.prod_iphone {
	display: none;
}

@media screen and (max-width: 991px) {
	.clearance .clearance_label hr {
		width: 280px;
	}
	.clearance .things_list {
		overflow-x: hidden;
	}
	.hide_ipad {
		display: none;
	}
}

@media screen and (max-width: 767px) {
	.clearance .things_list {
		-ms-flex-pack: distribute;
		justify-content: space-around;
	}
	.hide_iphone {
		display: none;
	}
	.prod_iphone {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-pack: distribute;
		justify-content: space-around;
	}
}

@media screen and (max-width: 567px) {
	.clearance {
		height: 370px;
	}
	.clearance .clearance_label img {
		width: 80px;
		height: auto;
	}
	.clearance .clearance_label hr {
		width: 100px;
	}
	.clearance .things_list {
		overflow-x: hidden;
	}
	.thing {
		width: 137px;
		height: 262px;
		margin-left: 15.5px;
		-webkit-transform: translateX(-8px);
		transform: translateX(-8px);
		position: relative;
	}
	.thing .thing_img {
		width: 137px;
		height: 181px;
	}
	.thing .thing_title {
		margin-top: 6px;
		font-size: 9px;
	}
	.thing .thing_price {
		margin-top: 6px;
		font-size: 14px;
	}
	.thing .add_cart {
		width: 110px;
		height: 32px;
		margin-top: 5.5px;
	}
	.thing .add_cart span {
		font-size: 10px;
		margin-right: 10px;
	}
	.thing .add_cart img {
		width: 8.5px;
		height: auto;
	}
	.load_more_iphone_2 {
		background: #fff;
	}
}

.brands {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	width: 100%;
	margin-top: 58px;
}

.brands .favor {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.brands .favor hr {
	width: 42.1%;
	height: 0.5px;
	background: #d8d8d8;
	margin-top: 7px;
}

.brands .favor span {
	font-size: 15px;
	font-weight: 700;
	text-transform: uppercase;
	color: #414141;
	text-align: center;
}

.brands .favorite_brands_list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 100%;
	height: 79px;
	margin-bottom: 11px;
}

.brands .favorite_brands_list img {
	cursor: pointer;
}

.brands .full_hr {
	width: 97.3%;
	height: 0.5px;
	background: #d8d8d8;
}

@media screen and (max-width: 991px) {
	.brands .favor hr {
		width: 37.1%;
	}
	.brands .favorite_brands_list {
		-ms-flex-pack: distribute;
		justify-content: space-around;
	}
}

@media screen and (max-width: 567px) {
	.brands {
		display: none;
	}
}

.lookshop {
	width: 100%;
	height: 156px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.lookshop h1 {
	font-size: 24px;
	font-weight: 400;
	color: #414141;
	margin-bottom: 0;
}

.lookshop p {
	font-family: Arial;
	font-size: 14px;
	font-weight: 400;
	color: #999;
	width: 100%;
	text-align: center;
	padding-top: 10px;
}

@media screen and (max-width: 991px) {
	.lookshop {
		height: 180px;
	}
	.lookshop p {
		width: 100%;
	}
}

@media screen and (max-width: 567px) {
	.lookshop {
		display: none;
	}
}

.payment_methods {
	width: 100%;
	height: 58px;
	background: #f7f7f7;
}

.payment_methods_accept {
	width: 550px;
	height: 68px;
	margin: 0 auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.payment_methods_accept span {
	font-size: 12px;
	font-weight: 400;
	color: #414141;
}

.payment_methods_accept a {
	cursor: pointer;
	height: 22px;
}

@media screen and (max-width: 767px) {
	.payment_methods_accept {
		width: 535px;
	}
}

@media screen and (max-width: 567px) {
	.payment_methods {
		display: none;
	}
}

.bottom_nav {
	width: 100%;
	height: 202px;
	background: #ededed;
}

.bottom_nav_list {
	width: 100%;
	height: 198px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.bottom_nav_list .bottom_nav_item1 {
	width: 610px;
	height: auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: baseline;
	-ms-flex-align: baseline;
	align-items: baseline;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-top: 35px;
}

.bottom_nav_list .bottom_nav_item1 .nav_column {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	width: auto;
	height: auto;
}

.bottom_nav_list .bottom_nav_item1 .nav_column h2 {
	margin: 0;
	font-size: 16px;
	font-weight: 700;
	color: #544f4d;
}

.bottom_nav_list .bottom_nav_item1 .nav_column ul {
	padding: 0;
	margin-top: 8px;
}

.bottom_nav_list .bottom_nav_item1 .nav_column ul li {
	list-style: none;
}

.bottom_nav_list .bottom_nav_item1 .nav_column ul li a {
	text-decoration: none;
	font-size: 12px;
	font-weight: 400;
	color: #544f4d;
	cursor: pointer;
	-webkit-transition: all, 0.3s;
	transition: all, 0.3s;
}

.bottom_nav_list .bottom_nav_item1 .nav_column ul li a:hover {
	color: red;
}

.bottom_nav_list .bottom_nav_item2 {
	width: 300px;
	height: auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin-top: 35px;
}

.bottom_nav_list .bottom_nav_item2 .social {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

.bottom_nav_list .bottom_nav_item2 .social h1 {
	margin: 0;
	font-size: 16px;
	font-weight: 700;
	color: #544f4d;
}

.bottom_nav_list .bottom_nav_item2 .social .social_icons {
	width: 125px;
	height: 87px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-top: 16px;
	-webkit-transition: all, 0.3s;
	transition: all, 0.3s;
}

.bottom_nav_list .bottom_nav_item2 .social .social_icons img:hover {
	cursor: pointer;
	opacity: 0.8;
}

.bottom_nav_list .bottom_nav_item2 .secured {
	margin-right: 0px;
    margin-top: 18px;
}

@media screen and (max-width: 991px) {
	.bottom_nav {
		height: 347px;
	}
	.bottom_nav_list {
		height: auto;
	}
	.bottom_nav_list .bottom_nav_item1 {
		width: 295px;
	}
	.bottom_nav_list .bottom_nav_item1 .stores {
		margin-right: 37px;
	}
}

@media screen and (max-width: 767px) {
	.bottom_nav_list .bottom_nav_item2 {
		width: 160px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}
}

@media screen and (max-width: 567px) {
	.bottom_nav {
		display: none;
	}
}

footer {
	width: 100%;
	height: 75px;
	background: #000;
}

.footer_info {
	width: 100%;
	height: 75px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.footer_info a {
	text-decoration: none;
	font-size: 11px;
	font-weight: 400;
	color: #8d8d8d;
	cursor: pointer;
	-webkit-transition: all, 0.3s;
	transition: all, 0.3s;
}

.footer_info a:hover {
	color: red;
}

.footer_info .footer_menu {
	width: 450px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.footer_info .footer_menu a {
	padding-right: 12px;
	border-right: 1px solid #8d8d8d;
}

.footer_info .footer_menu a:last-child {
	border: none;
	padding-right: 0;
}

.footer_info .footer_menu_phone {
	display: none;
}

.footer_info .reserved {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	text-align: right;
}

.footer_info .reserved span {
	font-size: 11px;
	font-weight: 400;
	color: #8d8d8d;
	margin-top: 3px;
}

@media screen and (max-width: 567px) {
	footer {
		height: 55px;
	}
	.footer_info {
		width: inherit;
		height: 55px;
	}
	.footer_info a {
		font-size: 12px;
	}
	.footer_info .footer_menu {
		display: none;
	}
	.footer_info .footer_menu_phone {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		height: inherit;
	}
	.footer_info .footer_menu_phone .navbar {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		width: 100%;
		background: #000;
		-webkit-transform: translateY(-6px);
		transform: translateY(-6px);
	}
	.footer_info .footer_menu_phone .navbar .navbar_button {
		background: #000;
		color: #fff;
		font-size: 24px;
		border: none;
		cursor: pointer;
		outline: none;
		height: auto;
		-webkit-transition: all, 0.3s;
		transition: all, 0.3s;
	}
	.footer_info .footer_menu_phone .navbar .navbar_button:hover {
		color: red;
	}
	.footer_info .footer_menu_phone .navbar .nav_link {
		text-decoration: none;
		font-size: 15px;
		font-weight: 500;
		border-bottom: solid 1px #aaa;
		color: #fff;
		display: block;
		min-width: 150px;
		padding: 5px;
		background: #000;
	}
	.footer_info .footer_menu_phone .navbar .nav_link:hover {
		color: #000;
		background: #fd926d;
	}
	.footer_info .footer_menu_phone .navbar .nav-item {
		list-style: none;
	}
	.footer_info .footer_menu_phone .navbar .navbar_inner {
		background: #fd926d;
		position: absolute;
		top: -200%;
		left: 80%;
		visibility: hidden;
		-webkit-transition: opacity 0.3s, visibility 0.3s;
		transition: opacity 0.3s, visibility 0.3s;
		text-align: center;
		z-index: 1;
		width: auto;
	}
	.footer_info .footer_menu_phone .navbar .in {
		opacity: 100;
		visibility: visible;
	}
	.footer_info .footer_menu_phone .navbar .nav {
		margin: 0;
		padding: 0;
	}
	.footer_info .reserved {
		margin-right: 10px;
	}
	.footer_info .reserved span {
		font-size: 12px;
	}
}
