@font-face {
	font-family: "HelveticaNeueLTStd-Th";
	src: url("../fonts/Helvetica Neue LT Std/HelveticaNeueLTStd-Th.otf");
}
@font-face {
	font-family: "HelveticaNeueLTStd-UltLtCn";
	src: url("../fonts/Helvetica Neue LT Std/HelveticaNeueLTStd-UltLtCn.otf");
}
@font-face {
	font-family: "HelveticaNeueLTStd-Cn";
	src: url("../fonts/Helvetica Neue LT Std/HelveticaNeueLTStd-Cn.otf");
}
@font-face {
	font-family: "HelveticaNeueLTStd-Lt";
	src: url("../fonts/Helvetica Neue LT Std/HelveticaNeueLTStd-Lt.otf");
}


* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.app {
	height: 100%;
	min-height: 100%;
	width: 100%;
	max-width: 1920px;
	min-width: 640px;
	margin-bottom: 330px;
	display: flex;
	flex-direction: column;
	flex: auto;
}
.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 970px;
	min-width: 640px;
	height: auto;
	min-height: 100%;
}
img {
	max-width: 100%;
}
a {
	text-decoration: none;
	cursor: pointer;
}
ul {
	list-style: none;
}
select {
	border: none;
	outline: none;
	background: rgba(0, 0, 0, 0);
}

/*Set height and background and border*/
.header {
	height: 135px;
}
.wr-slider {
	height: 515px;
}
.wr-subscription {
	height: 55px;
	background: #ededed;
}
.wr-catalog {
	height: 1865px;
}
.footer {
	height: 330px;
	margin-top: -330px;
}

/*Create care block and acount*/
.header__care {
	height: 30px;
	width: 100%;
	background: #000;
}
.header__care .wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	
}
.header__care p {
	font-size: 11px;
	font-family: "Arial";
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}
.header__care ul {
	display: flex;
	flex-wrap: wrap;
	font-size: 11px;
	font-family: "Arial";
	color: rgb(255, 255, 255);
	text-transform: uppercase;
}
.header__care ul li {
	height: 30px;
	padding: 8px 10px;
	border-left: 1.0px solid #444444;
}
.header__care ul li:last-child {
	border-right: 1.0px solid #444444;
}
.header__care ul li select {
	font-size: 11px;
	font-family: "Arial";
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	text-align: center;
}
.header__care_account::before {
	content: url(../img/face.png);
	padding: 0 8px 0 0;
	text-align: center;  
}
.header__care ul li i {
	transform: rotate(90deg);
}
/*Create menu block*/
.header__menu {
	height: 105px;
}
.header__menu .wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.header__logo {
	margin-top: 40px;
}

.header__nav {
	margin-top: 45px;
	margin-left: 147px;
}
.header__nav_item {
	display: inline-block;
	margin-left: 25px;
}
.header__nav_item:first-child {
	margin-left: 0;
}
.header__nav_item a select option {
	font-size: 16px;
	font-family: "Arial";
	color: rgb(0, 0, 0);
	line-height: 1.2;
	text-align: left;
}
.header__nav_item:hover {
	cursor: pointer;
	text-decoration: underline;
	transform: scale(1.05);
}
.header__carts {
	width: 214px;
	height: 66px;
	border: 1px solid #c1c1c1;
	margin-top: 19px;
}
.header__carts li {
	border-bottom: 1px solid #c1c1c1; 
}
.header__carts li:last-child {
	border: none;
}
.header__carts li select {
	height: 32px;
	padding: 0 132px 0 5px;
	font-size: 12px;
	font-family: "Arial";
	color: rgb(148, 147, 147);
	line-height: 1.2;
	text-align: left;
}

.header__carts li:nth-child(2n) {
	background: #fafafa;
	height: 31px;
}
.header__carts li p {
	font-size: 11px;
	font-family: "Arial";
	color: rgb(148, 147, 147);
	text-transform: uppercase;
	line-height: 1.2;
	text-align: right;
	padding: 7px 5px 5px 5px;
}
.header__carts li span::before {
	height: 30px;
	width: 30px;
	content: url(../img/face.png);
	padding: 0 120px 0 0; 
}

/* Create slider section */
.wr-slider .slider__list {
	position: relative;
	height: 440px;
	background: url('../img/slide.jpg') no-repeat;
	background-size: cover;
	-moz-background-size:cover;
	-webkit-background-size:cover;
	background-position: center center; 
}
.slider__list_btn {
	height: 118px;
	width: 30px;
	background: #fdfcfb;
	border: none;
	position: absolute;
	top: 163px;
}
/* .slider__list_btn:hover {
	cursor: pointer;
	transform: scale(1.1);
} */
button:hover {
	cursor: pointer;
	transform: scale(1.1);
}
.left {
	left: 0px;
}
.right {
	right: 0px;
}
.slider__list_heading {
	position: absolute;
	top: 44px;
    left: 182px;
}
.slider__list_shop {
	margin-top: 303px;
	width: 155px;
	height: 56px;
	margin-left: 275px;
	background-color: rgb(255, 166, 135);
	box-shadow: 0px 3px 0px 0px rgba(221, 107, 68, 0.004);
	border: none;
	border-bottom: 2px solid #dd6b44;
	font-size: 16px;
	font-family: "HelveticaNeueLTStd-Th";
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	text-align: left;
	padding-left: 22px;
    padding-top: 4px;
}
.slider__list_shop::after {
	content: url(../img/shoparrow.png);
	padding-left: 20px;
}

.slider__nav ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin-top: 33px;
}
.slider__nav_item {
	margin-left: 20px;
	height: 10px;
	width: 10px;
	border-radius: 50%;
	background: #867a76;
}
.slider__nav_item:first-child {
	margin-left: 0px;
}
.slider__nav_item:hover {
	cursor: pointer;
}
.slider__nav_item + .active {
	background: #fd926d;
}



/* Create subscription section */
.wr-subscription .wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.subscription__mail {
	padding-top: 15px;
}
.subscription__mail form label {
	font-size: 12px;
	font-family: "Arial";
	color: rgb(107, 107, 107);
	line-height: 1.2;
	text-align: left;
	margin-right: 3px;
}
.subscription__mail form input {
	border: none;
	height: 28px;
	width: 160px;
	padding: 5px;
}
.subscription__mail form button {
	height: 29px;
	width: 27px;
	border: none;
	margin-left: -32px;
	background: #fd926d;
	border-bottom: 3px solid #dd6b44;
	font-size: 20x;
	font-family: "Arial";
	color: #fff;
}

.subscription__mail form input::-webkit-input-placeholder {
	padding: 3px;
	font-size: 12px;
	font-family: "Arial";
	color: rgb(159, 159, 159);
	font-style: italic;
	line-height: 1.2;
	text-align: left;
}
.subscription__social {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.subscription__social p {
	padding-right: 15px;
	padding-top: 3px;
	font-size: 12px;
	font-family: "Arial";
	color: rgb(107, 107, 107);
	line-height: 1.2;
	text-align: left;
}
.subscription__social_list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
.subscription__social_list_item {
	height: 55px;
	width: 55px;
	padding-top: 18px;
	padding-left: 21px;
}
.subscription__social_list_item:nth-child(odd) {
	background: #f7f7f7;
}

.subscription__social_list_item a {
	font-size: 20px;
	color: #6b6b6b;
	text-align: center;
}
.subscription__social_list_item:hover {
	cursor: pointer;
	background: red;
}



/* Create catalog section */
.catalog__best {
	height: 430px;
	display: flex;
	flex-wrap: wrap;
}
.catalog__best .wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 40px 0 50px 0;
}
.catalog__best_outfits {
	width: 485px;
	height: 340px;
	background: url(../img/catalog__best_outfits_bg.png) no-repeat;
	background-size: cover;
	-moz-background-size:cover;
	-webkit-background-size:cover;
	background-position: center center;
}
.catalog__best_outfits img {
	margin-top: 70px;
	margin-left: 224px;
}


.catalog__best_summer {
	width: 485px;
	height: 340px;
	display: flex;
	flex-wrap: wrap;
}
.catalog__best_summer .row1 {
	height: 170px;
	background: url(../img/summer_bg.png) no-repeat;
	background-size: cover;
	-moz-background-size:cover;
	-webkit-background-size:cover;
	background-position: center center;
	width: 100%;
}
.catalog__best_summer .row1 img {
	margin-top: 18px;
	margin-left: 29px;
}
.catalog__best_summer .row2 {
	height: 170px;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}
.catalog__best_summer .row2 .col1 {
	position: relative;
	width: 50%;
	background: url(../img/summer_best.png) no-repeat;
	background-size: cover;
	-moz-background-size:cover;
	-webkit-background-size:cover;
	background-position: center center;
}
.catalog__best_summer .row2 .col1 a {
	position: absolute;
    top: 130px;
    left: 55px;
	font-size: 24px;
	font-family: "HelveticaNeueLTStd-UltLtCn";
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	line-height: 1.2;
	text-align: center;
	text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.19);
	-moz-transform: matrix( 1.40564523047885,0,0,1.41509759889446,0,0);
	-webkit-transform: matrix( 1.40564523047885,0,0,1.41509759889446,0,0);
	-ms-transform: matrix( 1.40564523047885,0,0,1.41509759889446,0,0);
}
.catalog__best_summer .row2 .col2 {
	width: 50%;
	background: url(../img/summer_shop.png) no-repeat;
	background-size: cover;
	-moz-background-size:cover;
	-webkit-background-size:cover;
	background-position: center center;
}
.catalog__best_summer .row2 .col2 p {
	width: 120px;
	height: 60px;
	padding-top: 48px;
	padding-left: 18px;
	font-size: 36px;
	font-family: "HelveticaNeueLTStd-Cn";
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	line-height: 0.833;
	text-align: center;
}
.catalog__best_summer .row2 .col2 button {
	background-color: rgb(79, 175, 160);
	width: 98px;
	height: 29px;
	border: none;
	font-size: 12px;
	font-family: "HelveticaNeueLTStd-Lt";
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	line-height: 2.5;
	margin-top: 63px;
	margin-left: 31px;
}
.catalog__best_summer .row2 .col2 button::after {
	content: url(../img/shoparrow.png);
	padding-left: 8px;
}

/* Create catalog__tabs section */
.catalog__tabs {
	height: 505px;
}
.catalog__tabs_nav {
	height: 47px;
}
.catalog__tabs_nav .wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.catalog__tabs_navlist {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.catalog__tabs_navlist li button {
	border: none;
	background: none;
	font-size: 15px;
	font-family: "Arial";
	color: rgb(85, 85, 85);
	text-transform: uppercase;
	line-height: 1.2;
	text-align: center;
	padding: 19px;
}
.catalog__tabs_navlist li button:hover {
	background: #fd926d;
	color: rgb(255, 255, 255);
}
.catalog__tabs_navlist .active {
	background: #fd926d;
	color: rgb(255, 255, 255);
}
.catalog__tabs_navarrow {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.catalog__tabs_navarrow li button {
	border: none;
	background: #f2f2f2;
	/* padding: 8px 15px 8px 17px; */
	    padding-top: 13px;
    padding-bottom: 3px;
    padding-right: 17px;
    padding-left: 17px;
}
.catalog__tabs_navarrow .active {
	background: #fd926d;
}
.catalog__tabs_navarrow li button:hover {
	background: #fd926d;
}

.catalog__tabs_shop {
	height: 458px;
	background: #fd926d;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.catalog__tabs_shopitem {
	height: 395px;
	width: 220px;
	background: #f7f7f7;
	margin-right: 30px;
}
.catalog__tabs_shopitem::after {
	margin-right: 0;
}


/* Create catalog__clearance section */
.catalog__clearance {
	height: 660px;
}

/* Create catalog__favourite section */
.catalog__favourite {
	height: 108px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.catalog__favourite h3 {
	font-size: 15px;
	font-family: "Arial";
	color: rgb(65, 65, 65);
	font-weight: bold;
	text-transform: uppercase;
	line-height: 1.2;
	text-align: center;
}
/* .catalog__favourite h3::before {
	content: url(../img/catalog__favourite_line.png);
	padding-right: 18px;
}
.catalog__favourite h3::after {
	content: url(../img/catalog__favourite_line.png);
	padding-left: 18px;
} */

/* Create catalog__lookshop section */
.catalog__lookshop {
	height: 162px;
	border-top: 1px solid #d8d8d8;
}
.catalog__lookshop h3 {
	font-size: 24px;
	font-family: "Arial";
	color: rgb(65, 65, 65);
	line-height: 1.2;
	text-align: center;
	padding-top: 25px;
	letter-spacing: -1.5px;
}
.catalog__lookshop p {
  font-size: 14px;
  font-family: "Arial";
  color: rgb(153, 153, 153);
  line-height: 1.286;
  text-align: center;
  padding-top: 9px;
}


/* Create footer */
.footer__accept {
	height: 60px;
	background: #f7f7f7;
}
.footer__menu {
	height: 195px;
	background: #ededed;
}
.footer__rights {
	height: 75px;
	background: #000;
}



/* #comment p {
	margin: 0 0 5px; Отступ снизу
}
#comment label {
	width: 110px; Ширина текста
	float: left; Выстраиваем по горизонтали
	text-align: right; Текст по правому краю
	padding-right: 10px; Поле справа
}
#comment input[type="text"], #comment textarea {
	width: 320px; Ширина текстовых полей
}
input:required {
	border: 1px solid red; Красная рамка для обязательных полей
} */
