@font-face {
	font-family: "HelveticaNeueLTStd-Th";
	src: url("../fonts/Helvetica Neue LT Std/HelveticaNeueLTStd-Th.otf");
}/* 
@font-face {
	font-family: "Bebas";
	src: url("../fonts/Bebas.ttf");
}
@font-face {
	font-family: "St Marie";
	src: url("../fonts/StMarie-Thin.otf");
} */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.app {
	height: 100%;
	min-height: 100%;
	width: 100%;
	max-width: 1920px;
	min-width: 640px;
	margin-bottom: 330px;
	display: flex;
	flex-direction: column;
	flex: auto;
}
.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 970px;
	min-width: 640px;
	height: auto;
	min-height: 100%;
}
img {
	max-width: 100%;
}
a {
	text-decoration: none;
	cursor: pointer;
}
ul {
	list-style: none;
}
select {
	border: none;
	outline: none;
	background: rgba(0, 0, 0, 0);
}

/*Set height and background and border*/
.header {
	height: 135px;
}
.wr-slider {
	height: 515px;
}
.wr-subscription {
	height: 55px;
	background: #ededed;
}
.wr-catalog {
	height: 1865px;
}
.footer {
	height: 330px;
	margin-top: -330px;
}

/*Create care block and acount*/
.header__care {
	height: 30px;
	width: 100%;
	background: #000;
}
.header__care .wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	
}
.header__care p {
	font-size: 11px;
	font-family: "Arial";
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}
.header__care ul {
	display: flex;
	flex-wrap: wrap;
	font-size: 11px;
	font-family: "Arial";
	color: rgb(255, 255, 255);
	text-transform: uppercase;
}
.header__care ul li {
	height: 30px;
	padding: 8px 10px;
	border-left: 1.0px solid #444444;
}
.header__care ul li:last-child {
	border-right: 1.0px solid #444444;
}
.header__care ul li select {
	font-size: 11px;
	font-family: "Arial";
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	text-align: center;
}
.header__care_account::before {
	content: url(../img/face.png);
	padding: 0 8px 0 0;
	text-align: center;  
}
.header__care ul li i {
	transform: rotate(90deg);
}
/*Create menu block*/
.header__menu {
	height: 105px;
}
.header__menu .wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.header__logo {
	margin-top: 40px;
}

.header__nav {
	margin-top: 45px;
	margin-left: 147px;
}
.header__nav_item {
	display: inline-block;
	margin-left: 25px;
}
.header__nav_item:first-child {
	margin-left: 0;
}
.header__nav_item a select option {
	font-size: 16px;
	font-family: "Arial";
	color: rgb(0, 0, 0);
	line-height: 1.2;
	text-align: left;
}
.header__nav_item:hover {
	cursor: pointer;
	text-decoration: underline;
	transform: scale(1.05);
}
.header__carts {
	width: 214px;
	height: 66px;
	border: 1px solid #c1c1c1;
	margin-top: 19px;
}
.header__carts li {
	border-bottom: 1px solid #c1c1c1; 
}
.header__carts li:last-child {
	border: none;
}
.header__carts li select {
	height: 32px;
	padding: 0 132px 0 5px;
	font-size: 12px;
	font-family: "Arial";
	color: rgb(148, 147, 147);
	line-height: 1.2;
	text-align: left;
}

.header__carts li:nth-child(2n) {
	background: #fafafa;
	height: 31px;
}
.header__carts li p {
	font-size: 11px;
	font-family: "Arial";
	color: rgb(148, 147, 147);
	text-transform: uppercase;
	line-height: 1.2;
	text-align: right;
	padding: 7px 5px 5px 5px;
}
.header__carts li span::before {
	height: 30px;
	width: 30px;
	content: url(../img/face.png);
	padding: 0 120px 0 0; 
}

/* Create slider section */
.wr-slider .slider__list {
	position: relative;
	height: 440px;
	background: url('../img/slide.jpg') no-repeat;
	background-size: cover;
	-moz-background-size:cover;
	-webkit-background-size:cover;
	background-position: center center; 
}
.slider__list_btn {
	height: 118px;
	width: 30px;
	background: #fdfcfb;
	border: none;
	position: absolute;
	top: 163px;
}
/* .slider__list_btn:hover {
	cursor: pointer;
	transform: scale(1.1);
} */
button:hover {
	cursor: pointer;
	transform: scale(1.1);
}
.left {
	left: 0px;
}
.right {
	right: 0px;
}
.slider__list_heading {
	position: absolute;
	top: 44px;
    left: 182px;
}
.slider__list_shop {
	margin-top: 303px;
	width: 155px;
	height: 56px;
	margin-left: 275px;
	background-color: rgb(255, 166, 135);
	box-shadow: 0px 3px 0px 0px rgba(221, 107, 68, 0.004);
	border: none;
	border-bottom: 2px solid #dd6b44;
	font-size: 16px;
	font-family: "HelveticaNeueLTStd-Th";
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	text-align: left;
	padding-left: 22px;
    padding-top: 4px;
}
.slider__list_shop::after {
	content: url(../img/shoparrow.png);
	padding-left: 20px;
	
}




/* Create subscription section */
.wr-subscription .wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.subscription__mail {
	padding-top: 15px;
}
.subscription__mail form label {
	font-size: 12px;
	font-family: "Arial";
	color: rgb(107, 107, 107);
	line-height: 1.2;
	text-align: left;
}
.subscription__mail form input {
	border: none;
	height: 28px;
	width: 160px;
	padding: 5px;
}
.subscription__mail form button {
	height: 27px;
	width: 27px;
	border: none;
	margin-left: -31px;
	background: #fd926d;
	border-bottom: 3px solid #dd6b44;
}

.subscription__mail form input::-webkit-input-placeholder {
	padding: 5px;
	font-size: 12px;
	font-family: "Arial";
	color: rgb(159, 159, 159);
	font-style: italic;
	line-height: 1.2;
	text-align: left;
}

/* Create catalog section */
.catalog__best {
	height: 430px;
}

.catalog__tabs {
	height: 505px;
}

.catalog__clearance {
	height: 670px;
}

.catalog__favourite {
	height: 100px;
}

.catalog__lookshop {
	height: 160px;
	border-top: 1px solid #d8d8d8;
}

/* Create footer */
.footer__accept {
	height: 60px;
	background: #f7f7f7;
}
.footer__menu {
	height: 195px;
	background: #ededed;
}
.footer__rights {
	height: 75px;
	background: #000;
}



/* #comment p {
	margin: 0 0 5px; Отступ снизу
}
#comment label {
	width: 110px; Ширина текста
	float: left; Выстраиваем по горизонтали
	text-align: right; Текст по правому краю
	padding-right: 10px; Поле справа
}
#comment input[type="text"], #comment textarea {
	width: 320px; Ширина текстовых полей
}
input:required {
	border: 1px solid red; Красная рамка для обязательных полей
} */
